/* Globals */

* html body #content { height: 600px; }

html > body #content { min-height: 600px; }

body {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #F1EFE2 none repeat scroll 0 0;

    margin: 0;
    padding: 0;

    font-family: Verdana,sans-serif;
    font-size: 0.9em;

    color: #484848;
    min-width: 900px;
}

a, a:link, a:visited { color: #116699; text-decoration: none; }
    a:hover, a:active {
        color: #C61A1A;
        text-decoration: underline;
    }
    a img { border: 0 none; }

h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 { font-family: "Trebuchet MS",Verdana,sans-serif; }

h2, .wiki h1 {
    letter-spacing: -1px;
    font-size: 20px;
    margin: 0 0 10px;
    padding: 2px 10px 1px 0;
}

h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 {
    border-bottom: 0 none;
    color: #606060;
    font-family: "Trebuchet MS", Georgia, "Times New Roman",serif;
}

h3, .wiki h2 {
    font-size: 16px;
    margin: 0 0 10px;
    padding: 2px 10px 1px 0;
}

input, select {
    margin-bottom: 1px;
    margin-top: 1px;
    vertical-align: middle;
}

.box {
    background-color: #F6F6F6;
    border: 1px solid #E4E4E4;
    color: #505050;
    line-height: 1.5em;
    margin-bottom: 10px;
    padding: 6px;
}

.remove_item {
    background-color: #FFBABA !important;
}

.center { text-align: center; }

#wrapper {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: white url(/images/content-right.png) repeat-y scroll 100% 0;
    padding-right: 10px;
}

#wrapper2 {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: white url(/images/content-left.png) repeat-y scroll 0 0;
    padding-left: 10px;
}

.break { clear: both; }

/* Header */
#top-menu {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #2C4056 none repeat scroll 0 0;
    color: #FFFFFF;
    font-size: 85%;
    height: 1.8em;
    padding: 2px 2px 0 6px;
}
    #top-menu ul{
        padding: 0;
        margin: 0;
    }

    #top-menu li {
        display: inline;
        white-space: nowrap;
    }

    #top-menu a {
        padding-right: 8px;
        color: #FFFFFF;
        font-weight: bold;
    }

#account {
    float: right;
    padding-right: 6px;
}
    #loggedas {
        color: #FFFFFF;
        float: left;
        margin-right: 0.5em;
    }

#header {
    position: relative;
    background-color: #507AAA;
    color: #F8F8F8;
    height: 6.2em;
    padding: 4px 8px 0 6px;
}
    #header h1 {
        margin-left: 0;
        margin-top: 0.3em;
    }

#quick_search {
    float: right;
    margin-top: 0.8em;
}

#main-menu {
    bottom: 0;
    left: 6px;
    margin-right: -500px;
    position: absolute;
}

    #main-menu ul {
        margin: 0;
        padding: 0;
    }
        #main-menu li {
            float: left;
            display: inline;
            padding: 0;
            margin: 0 2px 0 0;
            white-space: nowrap;
        }

        #main-menu li a {
            -moz-background-clip: border;
            -moz-background-inline-policy: continuous;
            -moz-background-origin: padding;
            background: #507AAA none repeat scroll 0 0;
            color: #FFFFFF;
            display: block;
            font-weight: bold;
            margin: 0;
            padding: 4px 10px;
            text-decoration: none;
        }

        #main-menu li a.selected {
            -moz-background-clip: border;
            -moz-background-inline-policy: continuous;
            -moz-background-origin: padding;
            background: #FFFFFF none repeat scroll 0 0;
            color: #555555;
        }

        #main-menu li a:hover {
            -moz-background-clip: border;
            -moz-background-inline-policy: continuous;
            -moz-background-origin: padding;
            background: #759FCF none repeat scroll 0 0;
        }

        #main-menu li a.selected,
        #main-menu li a.selected:hover {
            -moz-background-clip: border;
            -moz-background-inline-policy: continuous;
            background: #FFFFFF none repeat scroll 0 0;
            color: #555555;
        }

#main {
    font-size: 100%;
    font-size-adjust: none;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
}

#content {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #FFFFFF none repeat scroll 0 0;
    border-right: 2px solid #DDDDDD;
    overflow: visible !important;
    margin: 0;
    padding: 6px 10px 10px;
    width: 83%;
    z-index: 10;
}

#sidebar .tag_cloud {
    margin-left: 10px;
    margin-right: 20px;
}

/* tables */
table.list { font-size: 90%; }
table.list {
    border: 1px solid #E4E4E4;
    border-collapse: collapse;
    margin-bottom: 4px;
    width: 100%;
}

table.list th {
    background-color: #EEEEEE;
    padding: 4px;
    white-space: nowrap;
}

table.list td { vertical-align: top; }
table.list td.checkbox { padding: 0; width: 15px; }
table td { padding: 2px; vertical-align: middle; }

table.list tbody tr.group td {
    border-bottom:1px solid #CCCCCC;
    font-weight: bold;
    padding: 0.8em 0 0.5em 0.3em;
}

table.list tbody tr.group span.count {
    color: #AAAAAA;
    font-size: 80%;
}

table.list tbody tr:hover { background-color: #FFFFDD; }
table.list tbody tr.group { background-color: #FFFFDD; }
table.list tbody tr.group:hover { background-color: inherit; }
table p { margin: 0; }
td.center { text-align: center; }

/* Group Listing */
table.list td.group { text-align: center; }

table.list td.count { text-align: center; }
table.list td.description { text-align: left; }

.odd { background-color: #F6F7F8; }
.even { background-color: #FFFFFF; }

/* Forms */
form { display: inline; }

input, select {
    margin-bottom: 1px;
    margin-top: 1px;
    vertical-align: middle;
}

/* Fieldsets and filters */
fieldset { border: 1px solid #E4E4E4; margin: 0; }
legend { color: #484848; }

fieldset.collapsible { border-width: 1px 0 0; font-size: 0.9em; }
    fieldset.collapsible legend {
        background: url("/images/arrow_expanded.png") no-repeat scroll 0 40% transparent;
        cursor: pointer;
        padding-left: 16px;
    }
    fieldset.collapsed legend {
        background: url("/images/arrow_collapsed.png") no-repeat scroll 0 40% transparent;
        cursor: pointer;
        padding-left: 16px;
    }

fieldset#filters table {
    border-collapse: collapse;
}
fieldset#filters table td {
    padding: 0;
    vertical-align: middle;
}
fieldset#filters tr.filter {
    height: 2em;
}
fieldset#filters td.add-filter {
    text-align: left;
    vertical-align: bottom;
}

.buttons {
    font-size: 0.9em;
    margin-bottom: 1.4em;
    margin-top: 1em;
}

/* Icons */
.icon-checked { background-image: url("/images/true.png"); }
.icon-reload { background-image: url("/images/reload.png"); }

.icon {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-top: 2px;
}

/* General */
fieldset { border: 1px solid #E4E4E4; margin: 0; }
legend { color: #484848; }

hr {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #CCCCCC none repeat scroll 0 0;
    border: 0 none;
    height: 1px;
    width: 100%;
}

blockquote {
    border-left: 3px solid #E0E0E0;
    font-style: italic;
    margin-left: 2.4em;
    padding-left: 0.6em;
}

blockquote blockquote { margin-left: 0; }
textarea.wiki-edit { width: 99%; }
li p { margin-top: 0; }
#split_content_right { float: right; width: 200px; margin-bottom: 0; }

#sidebar {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    width: 14%;
    z-index: 9;
}

    #sidebar .no-dec {
        margin: 0;
        padding:0;
        list-style: none;
    }

    #sidebar h3 {
        color: #666666;
        font-size: 14px;
        margin-top: 14px;
    }

#footer {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: #F1EFE2 url("/images/footer-bg.png") repeat-x scroll 0 0;
    border: 0 none;
    padding: 0;
    color #999999;
    height: 20px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -4px;
    text-align: right;
    clear: both;
}

#footer .bgl {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: url("/images/footer-left.png") no-repeat scroll 0 0 transparent;
    height: 40px;
}

#footer .bgr {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    background: url("/images/footer-right.png") no-repeat scroll 100% 0 transparent;
    height: 40px;
    padding-right: 30px;
    padding-top: 22px;
}

/* Skin */
#dashboard {
}

/* Group Controller */
#new_group { width: 400px; margin: 0 auto; }
#edit_group { width: 400px; margin: 0 auto; }

.primary_group, .enabled {
    background-image: url("/images/true.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.disabled {
    background-image: url("/images/false.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.is_user {
    background-image: url("/images/user.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.is_group {
    background-image: url("/images/group.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.is_user {
    background-image: url(../images/user.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.is_group {
    background-image: url(../images/group.png);
    background-position: center center;
    background-repeat: no-repeat;
}

.secondary_group {
}

tr.group {
    text-align: center;
    white-space: nowrap;
}

td.hostname, td.service_tag, td.server_id, td.groups, td.port,
td.primary_ip, td.location, td.rack, td.rack_u, td.directory,
td.storage, td.edit_option, td.drac_ip, td.management_ip,
td.device_type, td.serial_no, td.part_no, td.account,
td.name, td.email, td.type {
    text-align: center;
    white-space: nowrap;
}

.context-menu-selection {
    background-color: #507AAA !important;
    color: #F8F8F8 !important;
}

.context-menu-selection a, .context-menu-selection a:hover {
    color: #F8F8F8 !important;
}

.context-menu-selection:hover {
    background-color: #507AAA !important;
    color: #F8F8F8 !important;
}

#node_importcsv { width: 80%; margin: 0 auto; }
fieldset#options table { border-collapse: collapse; }

/* Flash Message */
#flash {
    border: 1px solid #E4E4E4;
    background: #F6F7F8;
    margin: 0 auto;
    width: 300px;
    text-align: center;
    font-size: 18px;
}

.subtitle {
    font-size: 0.9em;
    font-style : italic;
    margin: -6px 0 12px;
}

.flash_error { background: #FFBABA !important; }

.hidden { display: none; }
.selected_secondary { text-align: right; vertical-align: top; }

/* Activity */
div #activity dl {
    margin-left: 2em;
}

div #activity dt .time {
    color: #777777;
    font-size: 80%;
}

div #activity dt {
    background-position: 0 50%;
    background-repeat: no-repeat;
    line-height: 18px;
    margin-bottom: 0;
    padding-left: 20px;
}

div #activity dd {
    font-size: 0.9em;
    margin-bottom: 1em;
    padding-left: 18px;
}

div #activity dd span.description {
    color: #808080;
    display: block;
}

#activity dt, .journal { clear: left; }

/*dt.csv-activity { background-image: url('/images/page.png'); } */
dt.node-add-activity { background-image: url('/images/server_add.png'); }
dt.node-remove-activity { background-image: url('/images/server_delete.png'); }
dt.node-update-activity { background-image: url('/images/server_edit.png'); }

dt.group-add-activity { background-image: url('/images/group_add.png'); }
dt.group-remove-activity { background-image: url('/images/group_delete.png'); }
dt.group-update-activity { background-image: url('/images/group_edit.png'); }

dt.inventory-add-activity { background-image: url('/images/table_add.png'); }
dt.inventory-remove-activity { background-image: url('/images/table_delete.png'); }
dt.inventory-update-activity { background-image: url('/images/table_edit.png'); }

p.other-formats {
    color: #666666;
    font-size: 0.9em;
    text-align: right;
}

a.atom {
    background: url('/images/feed.png') no-repeat scroll 1px 50% transparent;
    padding: 2px 0 3px 16px;
}



/* Nodes */
#node {
    background: none repeat scroll 0 0 #FFFFDD;
    border: 1px solid #D7D7D7;
    margin-bottom: 6px;
    padding: 6px;
}

.new_node {
    width: 400px;
    margin: 0 auto;
}

.sync_issue_highlight { color: #FF1212; }

.display_comment {
    margin:0 20px 8px 20px;
    background: none repeat scroll 0 0 #FAFAFA;
    border: solid 1px #E9E9E9;
}

.display_comment .username { font-size: 10px; }

.display_comment .date { color: #777777; }

.comment_mod {
    float: right;
    font-size: 80%;
    margin: 6px;
}

table.attributes { width: 100%; }
table.attributes th { vertical-align: top; text-align: left; }
table.attributes td { vertical-align: top; }

table.edit-attr th { vertical-align: middle !important; }

/* Dashboard */
#flagged_list, #sync_list { margin-bottom: 16px; }

.flag_td { padding: 8px; }

.problem_td, .sync_td { padding: 4px 8px; }

.flag_list { float: right; }

.problem_link { font-size: 90%; }

.flag_list_hardware, .flag_list_setup, .flag_list_maintenance,
.flag_list_rebooting, .flag_list_examining, .problem_flag_problem,
.problem_flag_warning, .problem_flag_timeout {
    padding: 0 8px;
    margin: 0 2px;
}

.flag_list_hardware { background-image: url("/images/cog.png"); }
.flag_list_setup { background-image: url("/images/server.png"); }
.flag_list_maintenance { background-image: url("/images/wrench_orange.png"); }
.flag_list_rebooting { background-image: url("/images/arrow_rotate_clockwise.png"); }
.flag_list_examining { background-image: url("/images/magnifier.png"); }
.problem_flag_problem { background-image: url("/images/exclamation.png"); }
.problem_flag_warning { background-image: url("/images/error.png"); }
.problem_flag_timeout { background-image: url("/images/clock.png"); }

.flag_description { margin-top: 2px; margin-left: 20px; }

#simplemodal-overlay { background-color: #000; }
#simplemodal-container { background-color: #EEEEEE; border:8px solid #484848; padding:6px; }

/* Graphs */
#graph_menu { width: 550px; margin: 0 auto; margin-top: 40px; }
#graph_selects {
    margin: 0 80px;
    margin-top: 20px; padding: 8px; }
#graph_list { margin: 0 auto; width: 400px; margin-top: 40px;}
.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.nodec-iframe { border: None; }

/* Users */
#new_user_form { width: 400px; margin: 0 auto; }

#new_group_form { width: 400px; margin: 0 auto; }

#user_search_form {}

/* Network */


/* Diffs */
.diff_removed {
    background-color: #FDD;
}

.diff_added {
    background-color: #DFD;
}